.logo_name {
  display: inline;
  font-size: 20px;
  line-height: 2px;
  margin: 10px 25px;
}

.fa-spotify {
  color: azure !important;
  margin: 5px 0 0 25px;

}

.home_section {
  margin: 25px 0 0 25px;
}

.line {
  margin: 8px 35px 5px 25px;
}

.card-body{
  text-align: left !important;
}
.home {
  height: 25px;
  width: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.mode_name {
  margin: 80px 0 15px 25px;
  font-weight: bold;
}

.playlist_section{
  margin: 25px 0 20px 25px ;
  font-weight: bold;
}
a {
  color: rgba(239, 233, 233, 0.683) !important;
}

a:hover {
  color: white !important;
}

.my_navbar {
  margin-top: 0 !important;
}

.card {
  margin: 25px 0px 10px 25px;
  padding: 15px 10px 15px 10px;
  display: inline-block !important;
  width: 11rem;
  height: 18rem;
  text-align: left !important;

  background-color: #181818 !important;
}

.timer {
  font-size: 15px;
}

h6 {
  font-size: 12px !important;
}

body {

  
  color: white !important;
  margin: 0 0 0 0 !important;
  background-color: #1d1d1d !important;
}

.split {
  height: 100%;
  width: 14% !important;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.split2 {
  /* makes cover whole height */
  height: 100%;
  /*covers 3/4 width of screen  */
  width: 86%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;

}

.left_icon {
  font-size: 25px;
  margin-top: 25px;
  margin-right: 10px;
}

.favorite {
  height: 25px;

  width: 25px;
  border-radius: 2px;
  margin-right: 10px;

}

.fav_img {
  margin-top: 25px;
}


.play_options {
  height: 10% !important;
  display: block !important;
  background-color: #181818;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* styles login button */
.login_button {
  font-size: 15px;
  margin: 8px 25px 10px 25px;
  border: 0;
  height: 30px;

  border-radius: 10px;
}

/* keep the opetions login sign up on right side */
.navbar-nav {
  position: fixed;
  right: 35px;
}

.navbar-brand {
  pointer-events: none;
  cursor: pointer;
}

/* make navbar dark */
.navbar {

  z-index: 1;

  height: 65px;
  left: 14% !important;

  background-color: transparent !important;
  opacity: .85;
  padding-bottom: 10px;
  background: rgb(7, 7, 7) !important;
 

}

.branding {
  margin-left: 25px;
  margin-top: 8px;
  height: 42px !important;
  width: 140px !important;
  color: rgb(178, 182, 187) !important;
}

.fa-circle-chevron-right {
  color: #686565;
  font-size: 25px;
}


.fa-circle-chevron-left {
  margin-right: 20px;
  margin-left: 25px;
  font-size: 25px;
  color: #686565;
}

.progress_bar {
  display: inline-block;
  width: 25%;
  height: 3px;
  border-radius: 50px;
  background-color: rgb(137, 130, 130);
  margin-top: 5px !important;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.progress_bar .progress {
  height: inherit;
  width: 50%;
  border-radius: inherit;
  position: relative;
  background: rgb(137, 130, 130);
}


.play_menu {
  text-align: center;
  margin-top: 12px;
}
.nav-link{
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 16px;
}
.nav_position {
  position: fixed;
  top: 0;
  right: 0;
}

.fa-backward-step {
  font-size: 15px;
  margin-left: 25px;
}

.fa-forward-step {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 15px;
}

.fa-circle-pause {
  margin-left: 25px;
  font-size: 20px;
  margin-top: 5px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: black;
}

/* Control the right side */
.right {
  right: 0;
  z-index: -2;
}